// Element
$element-width: 4.08rem;
$element-height: 4.7rem;

// Colors
$dark: #212529;
$light: #f8f9fa;
$blue: #003b6f;

// Radius
$radius-sm: .25rem;
$radius: .4rem;

// Timers
$time-fast: .1s;

// Transitions
$default-transition: all $time-fast linear;

// Fonts
$default-font: 'Quicksand', sans-serif;